{% extends "index.html" %}

{% block title %}{{ org }}'s ranking{% endblock %}

{% block desc %}See {{ org }}'s ranking on Google Code-In Leaderboard{% endblock %}

{% block header %}
  <h1>{{ org }}</h1>
  <p>
    {{ students }} students {{ noun_form(students, 'has', 'have') }}
    finished {{ total }} {{ noun_form(total, 'task', 'tasks') }}
  </p>
{% endblock %}

{% block content %}
  <div class="pure-menu pure-menu-open" style="width: 100%">
    <ul>
      <a href="#" class="pure-menu-heading">Leaderboard</a>
      {% for tup in leaderboard %}
      <li class="tasklist-row">
        <a title="See profile of {{ tup[0] }} in {{ org }}" href="{{ url_for('student', name=tup[0], e=tup[1], org=org) }}">
          <span class="tasklist-row-main">
            <b>{{ tup[0] }}</b> has finished <b>{{ tup[1] }}</b> {{ noun_form(tup[1], 'task', 'tasks') }}{% if org != 'All Organizations' %} in {{ org }} {% endif %}
          </span>
          <span class="tasklist-row-right">
            <i class="fa fa-chevron-right row-icon tasklist-row-arrow"></i>
          </span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
