{% extends "index.html" %}

{% block title %}Profile of {{ name }} in {{ org }}{% endblock %}

{% block desc %}Profile of {{ name }} on Google Code-In 2014 leaderboard{% endblock %}

{% block student_chart %}
  function chartReady() {
    var spinner = document.getElementById('chartLoadingProgress');
    spinner.parentNode.removeChild(spinner);
  }
  google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Tasks\' category', 'Amount of finished tasks'],
          ['Code',     {{ code }}],
          ['User interface',      {{ interface }}],
          ['Quality Assurance',  {{ quality }}],
          ['Documentation', {{ documentation }}],
          ['Outreach/Research',    {{ research }}]
        ]);

        var options = {
          width: '100%',
          chartArea: {width: '100%', height: '80%'},
          fontName: 'Raleway',
          is3D: false
        };

        var chart = new google.visualization.PieChart(document.getElementById('tasksChart'));
        google.visualization.events.addListener(chart, 'ready', chartReady);
        chart.draw(data, options);
      }
{% endblock %}

{% block header %}
  <h1>{{ name }}</h1>
  <p>
  has finished <b>{{ total }}</b>
  {{ noun_form(total, 'task', 'tasks') }}
  {% if org != 'All Organizations' %} in {{ org }} {% endif %}
  </p>
{% endblock %}

{% block content %}
    <div>
      <div id="chartArea">
        <div id="chartLoadingProgress">
          <i class="fa fa-5x fa-circle-o-notch fa-spin"></i>
        </div>
        <div id="tasksChart"></div>
      </div>
      <div class="pure-menu pure-menu-open" style="width: 100%">
        <ul>
          <a href="#" class="pure-menu-heading">Completed {% if (total > 1) or (total==0) %} tasks {% else %} task {% endif %}</a>
          {% for task in tasks %}
          <li class="tasklist-row">
            <a href="{{ task[1] }}" title="See task - {{ task[0] }} - on Google Melange" class="list-group-item list-group-item-info">
              <span class="tasklist-row-right">
                <span class="tasklist-row-tasktype">{{ task[2] }}</span>
                <i class="fa fa-chevron-right row-icon tasklist-row-arrow"></i>
              </span>
              <div class="tasklist-row-main-main"><span class="tasklist-row-main-text">{{ shorten(task[0], 80) }}</span></div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}
